@import "./variables.module.scss";
@import "./mixin.module.scss";

.button {
  padding: $size-16 $size-20;
  border-radius: $size-12;
  @include body1-semibold;
  cursor: pointer;

  &__color {
    &__kakao {
      background-color: #fdde02;
      border: none;
    }
    &__outlined {
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #f7f8f9;
    }
    &__black {
      background-color: #000;
      border: none;
      color: white;
    }
    &__disabled {
      background-color: #f7f8f9;
      border: none;
      color: #364553;
    }
  }

  &__size {
    &__large {
      width: 100%;
    }
    &__small {
      padding: $size-12 $size-16;
      @include label2-semibold;
      line-height: 16.71px;
    }
  }
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.input {
  display: flex;
  flex-direction: column;
  gap: $size-4;
  width: 100%;
  &__label {
    @include label1-semibold;
    line-height: $size-28;
    color: #646f7c;
  }
  &__container {
    display: flex;
    flex-direction: row;
    gap: $size-8;
    width: 100%;
    &__inputField {
      background-color: #f7f8f9;
      border: none;
      border-radius: $size-12;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: space-between;
      padding: $size-12 $size-16;
      display: flex;
      flex-direction: row;
      width: auto;
      //input 창은 남은 너비를 다 채운다
      flex-grow: 1;
      &__text {
        background: none;
        border: none;
        width: 100%;
        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
    }
    &buttonContainer {
      //버튼은 고정된 크기를 유지한다.
      flex-shrink: 0;
      white-space: nowrap;
    }
  }
}
