//pixel size
$size-4: 0.25rem; // 4px
$size-8: 0.5rem; // 8px
$size-11: 0.6875rem; // 11px
$size-12: 0.75rem; // 12px
$size-13: 0.8125rem; // 13px
$size-14: 0.875rem; // 14px
$size-15: 0.9375rem; // 15px
$size-16: 1rem; // 16px
$size-17: 1.0625rem; // 17px
$size-18: 1.125rem; // 18px
$size-20: 1.25rem; // 20px
$size-22: 1.375rem; // 22px
$size-24: 1.5rem; // 24px
$size-28: 1.75rem; // 28px
$size-32: 2rem; // 32px
$size-36: 2.25rem; // 36px
$size-40: 2.5rem; // 40px
$size-56: 3.5rem; // 56px

//color
$gray-50: #f7f8f9;
$gray-100: #e9ebee;
$gray-200: #d7dbdf;
$gray-300: #c5c8ce;
$gray-400: #9aa0b0;
$gray-500: #646f7c;
$gray-600: #4e5a6a;
$gray-700: #364553;
$gray-800: #28323c;
$gray-900: #161d24;
$white: #ffffff;
$black: #000000;
$blue-50: #e5f1ff;
$blue-100: #b2d6ff;
$blue-200: #80bbff;
$blue-300: #4b9fff;
$blue-400: #1a85ff;
$blue-500: #006be5;
$blue-600: #0053b2;
$blue-700: #003c80;

$red-50: #fee6ea;
$red-100: #fdb5c0;
$red-200: #fb8397;
$red-300: #fa526d;
$red-400: #f82043;
$red-500: #df072a;
$red-600: #ad0520;
$red-700: #7c0417;
